<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "elements/head.njk" %}
    </head>
    <body class="styleguide-full">


        {% include "elements/svgmap.njk" %}

        {% include "elements/navigation.njk" %}

        <main class="sg-main">

            {#<div class="nav-toggle-helper transform-this"></div>#}

            <script src="{{ webPath }}/js/sg-priority.js" ></script>

            {% if showLinkList %}
                {% import "elements/linklist.njk" as linklist %}
                {{ linklist.linklistStart(navigation , levelStart = levelStart, webPath = webPath) }}
            {% endif %}

            {% if showPageList %}
                {% import "elements/pagelist.njk" as pagelinklist %}
                {{ pagelinklist.linklistStart(navigationPages, 0, webPath = '/' + inputPagesPath ) }}
            {% endif %}

            {% if showContent %}
                {% import "single.njk" as singleView %}
                {% for element in elements %}
                    {{ singleView.render( element, webPath=webPath ~ '/' ) }}
                {% endfor %}
            {% endif %}


        </main>

        {% include "elements/prism.njk" %}

        {% if not showLinkList and not showPageList %}
            <script src="{{ webPath }}/js/sg-scripts.js" ></script>
        {% endif %}

        {% for script in footerScripts %}
            <script src="{{ script }}"></script>
        {% endfor %}

    </body>
</html>
