.sg-link-list-wp {
    margin: 50px 0 0;
    padding: 20px 10px 20px 30px;
    background: $sg-body-bg-color;
}

.sg-link-list-wp * {
    @extend %font;
}

.sg-linklist {
    margin: 0;
    padding: 0;
    color: $sg-text-color;
    list-style-type: none;
}

.sg-linklist-item {
    margin: 0 0 0;
}

.sg-linklist-link {
    display: block;
    color: $sg-text-color;
    text-decoration: none;
}

.sg-linklist-child {
    margin-bottom: 0;
    line-height: 1.5;
}

.sg-linklist-link-one-child-with-same-name:before {
    visibility: hidden;
}

.sg-linklist-head {
    font-size: 30px;
}

.sg-linklist-folder {
    line-height: 1.33;
    /* stylelint-disable declaration-no-important */
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.sg-linklist-0 {
    font-size: 25px;
}

.sg-linklist-0 > .sg-linklist-folder {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.sg-linklist-folder:not(.sg-linklist-link-one-child-with-same-name) {
    font-weight: bold;
}

.sg-linklist-1 > .sg-linklist-folder {
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.sg-linklist-1 {
    margin-left: 30px;
    font-size: 20px;
}

.sg-linklist-2 {
    margin-left: 25px;
    font-size: 16px;
}

.sg-linklist-3 {
    margin-left: 20px;
    font-size: 14px;
}

.sg-linklist-4 {
    margin-left: 17px;
    font-size: 12px;
}

.sg-linklist-5 {
    margin-left: 10px;
    font-size: 10px;
}
