/* Custom checkboxes
---------------------------------------------------------------------------- */
/* TODO: set namespace ! */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer; }
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    background: #fefefe;
    border: 1px solid #ddd;
    content: '';
    height: 16px;
    margin-top: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px; }
[type="checkbox"]:not(:checked) + label svg,
[type="checkbox"]:checked + label svg {
    color: #48c876;
    content: '';
    height: 14px;
    position: absolute;
    left: 2px;
    top: 3px;
    transition: all 0.2s ease;
    width: 12px; }
[type="checkbox"]:not(:checked):disabled + label:before,
[type="checkbox"]:not(:checked):disabled + label svg,
[type="checkbox"]:not(:checked):disabled + label,
[type="checkbox"]:checked:disabled + label:before,
[type="checkbox"]:checked:disabled + label svg,
[type="checkbox"]:checked:disabled + label {
    opacity: 0.5; }
[type="checkbox"]:not(:checked):disabled + label,
[type="checkbox"]:checked:disabled + label {
    cursor: not-allowed; }

[type="checkbox"]:not(:checked) + label svg {
    opacity: 0;
    transform: scale(0); }

[type="checkbox"]:checked + label svg {
    opacity: 1;
    transform: scale(1); }