.sg-link-list-wp {
    margin: 50px 0 0;
    padding: 20px 10px 20px 30px;
    background: #333;
    border: 5px solid #444;
    /*background: #3f4141;*/
    /*border: 5px solid #333;*/
}

.sg-link-list-wp * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


.sg-linklist {
    margin: 0;
    padding: 0;
    /*color: #000000;*/
    color: #fefefe;
    list-style-type: none;
}
.sg-linklist-item {
    margin: 0 0 0;
}

.sg-linklist-link{
    display: block;
    color: #fefefe;
    text-decoration: none;
}

.sg-linklist-child {
    margin-bottom: 0;
    line-height: 1.5;
}
/*.sg-linklist .sg-linklist-item:last-child .sg-linklist-child {*/
    /*margin-bottom: 12px;*/
/*}*/

.sg-linklist-link:before{
    content: '→';
    visibility: hidden;
}

.sg-linklist-link.sg-linklist-folder:before,
.sg-linklist-head:before {
    content: '→';
}

.sg-linklist-link-one-child-with-same-name:before {
    visibility: hidden;
}

.sg-linklist-head {
    font-size: 30px;
    color: #fefefe !important;
}

.sg-linklist-folder{
    /*border-bottom: 1
    px solid #444;*/
    line-height: 1.33;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.sg-linklist-0 {
    font-size: 25px;
}

.sg-linklist-0 > .sg-linklist-folder{
    background: #444;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.sg-linklist-folder:not(.sg-linklist-link-one-child-with-same-name) {
    background: #444;
}

.sg-linklist-1 > .sg-linklist-folder{
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.sg-linklist-1 {
    margin-left: 30px;
    font-size: 20px;
}
.sg-linklist-2 {
    margin-left: 25px;
    font-size: 16px;
}
.sg-linklist-3 {
    margin-left: 20px;
    font-size: 14px;
}
.sg-linklist-4 {
    margin-left: 17px;
    font-size: 12px;
}
.sg-linklist-5 {
    margin-left: 10px;
    font-size: 10px;
}