/* Section Buttons
---------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .sg-section-header .sg-button-container {
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: flex-end; }
    .sg-section-header .sg-button-container:before, .sg-section-header .sg-button-container:after {
        content: ' ';
        /* 1 */
        display: table;
        /* 2 */ }
    .sg-section-header .sg-button-container:after {
        clear: both; } }

@media screen and (min-width: 769px) {
    .sg-section-header .sg-button-container {
        float: right;
        border-left: 1px solid #ccc; } }

.sg-btn {
    background: transparent;
    border: 0;
    border-right: 1px solid #ccc;
    color: #333;
    float: left;
    font-size: 16px;
    font-size: 1rem;
    line-height: 50px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
.sg-btn:hover, .sg-btn:focus {
    background: transparent;
    outline: 0; }
.sg-btn:hover i, .sg-btn:focus i {
    color: #48c876; }
.sg-btn:last-child {
    border: 0; }
.sg-btn.sg-btn-active {
    outline: 0; }
.sg-btn i,
.sg-btn i:before {
    height: 14px;
    width: 14px; }
.sg-btn i:before {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block; }

.sg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor; }

.sg-btn svg {
    width: 14px; }

.sg-btn use,
.sg-btn path {
    fill: #333; }

.sg-btn:hover use,
.sg-btn:hover path, .sg-btn.sg-btn-active use,
.sg-btn.sg-btn-active path {
    fill: #48c876; }

.sg-btn.sg-btn-documentation svg {
    width: 16px; }

.sg-btn.sg-btn-source svg {
    height: 24px;
    margin-left: 5px;
    width: 24px; }

.sg-btn.sg-btn-source.sg-btn-active svg {
    margin-left: 0; }

.sg-btn.sg-btn-top svg {
    height: 16px;
    width: 16px; }

.sg-btn.sg-btn-back svg {
    height: 18px;
    width: 20px; }

.sg-btn .sg-icon-close {
    display: none; }

.sg-btn.sg-btn-active .sg-icon-close {
    display: block; }

.sg-btn.sg-btn-documentation.sg-btn-active .sg-icon-comment {
    display: none; }

.sg-btn.sg-btn-documentation.sg-btn-active svg {
    height: 14px;
    width: 14px; }

.sg-btn.sg-btn-source.sg-btn-active .sg-icon-code {
    display: none; }

.sg-btn.sg-btn-source.sg-btn-active svg {
    height: 14px;
    width: 14px; }

.sg-btn.sg-btn-bgcolor svg {
    width: 16px; }

button i {
    width: 100%; }

.styleguide-full .sg-btn-back {
    display: none; }

@media screen and (max-width: 768px) {
    .styleguide-full .sg-btn-expand {
        border-left: 1px solid #ccc; } }

.styleguide-single .sg-btn-expand,
.styleguide-single .sg-btn-top {
    display: none; }

@media screen and (max-width: 768px) {
    .styleguide-single .sg-btn-back {
        border-left: 1px solid #ccc; } }

@media screen and (max-width: 768px) {
    .styleguide-single .sg-btn-source {
        border: 0; } }

/*.sg-enhanced .sg-btn-source {*/
    /*display: flex; }*/

.sg-btn-source {
    display: flex; }

.sg-btn-responsive-toggle {
    background: transparent;
    border: 0;
    padding: 0; }
@media screen and (max-width: 768px) {
    .sg-btn-responsive-toggle {
        height: 100px;
        width: 100px; } }
@media screen and (min-width: 769px) {
    .sg-btn-responsive-toggle {
        width: 45px; } }
@media screen and (max-width: 768px) {
    .sg-btn-responsive-toggle svg {
        width: 60px; } }
@media screen and (min-width: 769px) {
    .sg-btn-responsive-toggle svg {
        width: 30px; } }
@media screen and (max-width: 768px) {
    .sg-btn-responsive-toggle:hover, .sg-btn-responsive-toggle:focus, .sg-btn-responsive-toggle.sg-btn-active {
        color: #333; } }
@media screen and (min-width: 769px) {
    .sg-btn-responsive-toggle:hover, .sg-btn-responsive-toggle:focus, .sg-btn-responsive-toggle.sg-btn-active {
        color: #48c876; } }
.sg-btn-responsive-toggle:after {
    content: attr(data-width);
    clear: both;
    display: block; }
@media screen and (min-width: 769px) {
    .sg-btn-responsive-toggle:after {
        font-size: 12px; } }
