<title>{{ title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{# https://github.com/sindresorhus/github-markdown-css #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css">

{# Style Guide Styles #}
<link rel="stylesheet" href="{{ wayToRoot }}{{ webPath }}css/sg-style.css">

{# Styleguide Branding Styles #}
{% for styles in templateStyleguideBrandingStylesheet %}
    <link rel="stylesheet" href="{{ styles }}" />
{% endfor %}

{# prism Syntax Highlighting Styles #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">

<script src="{{ wayToRoot }}{{ webPath }}js/vendor/iframeResizer.min.js" ></script>
<script src="{{ wayToRoot }}{{ webPath }}js/vendor/lazysizes.min.js"></script>

