<div class="sg-nav-toggle-container">
    <button class="sg-nav-toggle-btn sg-nav-toggle js-sg-nav-toggle" title="toggle navigation">
        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="sg-icon sg-icon-navicon" xlink:href="#sg-icon-navicon"></use>
            <use class="sg-icon sg-icon-close" xlink:href="#sg-icon-close"></use>
        </svg>
        <span class="btn-text btn-text-open">Menu</span>
        <span class="btn-text btn-text-close">Close</span>
    </button>

    <button class="sg-nav-toggle-btn sg-sub-nav-toggle js-sg-sub-nav-toggle" title="toggle sub-navigation">
        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use class="sg-icon sg-icon-arrow-left" xlink:href="#sg-icon-arrow-left"></use>
        </svg>
        <span class="btn-text">Back</span>
    </button>

</div>

<div class="sg-navigation-container">
    <nav class="sg-navigation">

        {# View Options #}
        {% if not showLinkList and not showPageList %}
        {% include "elements/view-options.njk" %}
        {%  endif %}

        {# Main Navigation #}
        {% import "elements/navigation-tree.njk" as nav %}
        {{ nav.navigationStart(navigation, webPath = webPath, levelStart = 0, inputPagesPath = inputPagesPath) }}

    </nav>
</div>