{% macro linklist(tree, levelStart = levelStart, level = level, webPath = webPath) %}
    <ul class="sg-linklist">
        {% for item in tree %}
            {% if level >= levelStart %}
                <li class="sg-linklist-item sg-linklist-{{ level }}">
            {% endif %}
            {{ linklistItem(item, levelStart = levelStart, level, webPath = webPath ) }}
            {% if level >= levelStart %}
                </li>

            {% endif %}


        {% endfor %}
    </ul>
{% endmacro %}

{% macro linklistItem(item, levelStart = levelStart, level, webPath = webPath) %}
    {% if item.children %}
        {% if level >= levelStart %}
                <span class="sg-linklist-link sg-linklist-folder">
                    {{ item.name }}
                </span>
        {% endif %}
        {{ linklist(item.children, levelStart, level + 1, webPath = webPath ) }}
    {% else %}
        {% if level >= levelStart %}
            <a class="sg-linklist-link sg-linklist-child"
               href="{{ webPath }}/{{ item.pathSum }}{% if item.pathSum != '' %}/{% endif %}{{ item.hash }}.html">
                {{ item.hash }}
            </a>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro linklistStart(tree, levelStart = 0, webPath = webPath) %}
    <div class="sg-link-list-wp sg-section transform-this">
        {{ linklist(tree, levelStart = levelStart, level = 0, webPath = webPath) }}
    </div>
{% endmacro %}
