<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "elements/head.njk" %}
    </head>
    <body class="styleguide-full">
        {{ bodyStartCode | safe }}
        
        {% include "elements/svgmap.njk" %}

        {% include "elements/navigation.njk" %}

        <main class="sg-main">

            <script src="{{ webPath }}/js/sg-priority.js" ></script>


            <div class="nav-toggle-helper transform-this"></div>
            {% if showlinkList %}
                {% import "elements/linklist.njk" as linklist %}
                {{ linklist.linklistStart(navigation , levelStart = levelStart, webPath = webPath) }}
            {% endif %}



            {% if showContent %}
                {% import "single.njk" as singleView %}
                {% for element in elements %}
                    {{ singleView.render( element, webPath=webPath ~ '/' ) }}
                {% endfor %}
            {% endif %}

        </main>

        {% include "elements/prism.njk" %}

        <script src="{{ webPath }}/js/sg-scripts.js" ></script>
        <script src="{{ webPath }}/js/sg-scripts-fullview.js" ></script>

        {% for script in footerScripts %}
            <script src="{{ script }}"></script>
        {% endfor %}

        {{ bodyEndCode | safe }}
    </body>
</html>
