<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Pattern & Module Styles #}
        {% for styles in stylesheet %}
            <link rel="stylesheet" href="{{ styles }}" />
        {% endfor %}

        {% for script in headerScripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </head>

    <body class="styleguide-single">

        {{ element.content | safe }}
        
        <script type="text/javascript" src="{{ webPath }}/js/vendor/iframeResizer.contentWindow.min.js" ></script>

    </body>
</html>
