<!DOCTYPE html>
<html>
    <head>
        {% include "elements/head.njk" %}
    </head>
    <body class="styleguide-single">
    {#<body>#}

        {{ bodyStartCode | safe }}

        {% include "elements/svgmap.njk" %}

        {% include "elements/navigation.njk" %}


        <script src="{{ webPath }}/js/sg-priority.js" ></script>
        <main class="sg-main">
            {% import "single.njk" as singleView %}
            {#{{ singleView.render( element, iframe=false ) }}#}
            {{ singleView.render( element, webPath=webPath ~ '/', iframe = true, iframeLazyload = false ) }}
        </main>

        {% include "elements/prism.njk" %}

        <script src="{{ webPath }}/js/sg-scripts.js" ></script>
        <script src="{{ webPath }}/js/sg-scripts-fullview.js" ></script>

        {% for script in footerScripts %}
            <script src="{{ script }}"></script>
        {% endfor %}

        <script>iFrameResize( {}, 'iframe' );</script>

        {{ bodyEndCode | safe }}

    </body>
</html>
