/* -------------------------------------------------------------------------
 SG Sections
 ---------------------------------------------------------------------------- */
.sg-section {
    opacity: 0;
    animation: fadeIn ease 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    will-change: opacity; }
.sg-section:nth-child(1) {
    animation-delay: 100ms; }
.sg-section:nth-child(2) {
    animation-delay: 200ms; }
.sg-section:nth-child(3) {
    animation-delay: 300ms; }
.sg-section:nth-child(4) {
    animation-delay: 400ms; }
.sg-section:nth-child(5) {
    animation-delay: 500ms; }
.sg-section:nth-child(6) {
    animation-delay: 600ms; }
.sg-section:nth-child(7) {
    animation-delay: 700ms; }
.sg-section:nth-child(8) {
    animation-delay: 800ms; }
.sg-section:nth-child(9) {
    animation-delay: 900ms; }
.sg-section:nth-child(10) {
    animation-delay: 1000ms; }

/* Section Header
---------------------------------------------------------------------------- */
.sg-section-header {
    width: 100%; }
.sg-section-header.fixed {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1100; }
.sg-section-header.fixed.absolute {
    position: absolute; }

@media screen and (min-width: 769px) {
    .nav-is-active .sg-section-header.fixed {
        width: 100%; } }

.sg-section-anchor {
    border-bottom: 1px solid #ccc;
    background: #fefefe;
    height: 51px;
    display: block;
    width: 100%; }
/*.styleguide-single .sg-section-anchor {*/
    /*border: 0;*/
    /*height: 0;*/
/*}*/

.sg-header-group {
    background: #fefefe;
    border-bottom: 1px solid #ccc; }
@media screen and (min-width: 769px) {
    .sg-header-group {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between; } }

.sg-title-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    min-height: 50px; }

.sg-section-title {
    border: 0;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    text-transform: capitalize; }
@media screen and (max-width: 736px) {
    .sg-section-title {
        font-size: 1em; } }
@media screen and (max-width: 1024px) {
    .sg-section-title {
        padding: 10px 0; } }

